/* style my avatar */
img[alt=me] {
  border-radius: 100%;
  width: calc(820px / 3 - 20px); /* this is the desktop width */
  /* max-width for img is 100% */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* fix padding issues caused by blogdown's use of the section class */
.content .section {
  padding: 0 0;
  margin-top: 80px;
}

/* reduce default bottom padding */
.section {
  padding: 40px 20px 20px 20px;
}

/* change headers to a solarized color */
.content h1,
.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
  /*color: #6c71c4; */
  color: #d33682;
  /*color: #4b2e83; */ /* UW purple */
}
.content h1 code,
.content h2 code,
.content h3 code,
.content h4 code,
.content h5 code,
.content h6 code {
  background-color: transparent;
}

#publications {
 font-size: 14px;
} 

#publications-section {
  margin-top: 20px;
  font-size: 55%;
}

/*
a:link {
  color: #6c71c4;
}
*/

/*
.content a:visited {
  color: #dc322f;
}
*/

