{{ partial "header" . }}
{{ partial "nav" . }}

<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-one-third">
        <div>
          <img src="img/ccg.jpg" alt="me">
        </div>
        <div id="publications-section" class="content">
          <h3 id="publications">Publications</h3>
          <p><strong>Gilroy, Connor</strong> and Ridhi Kashyap. 2021. “Digital Traces of Sexualities: Understanding the Salience of Sexual Identity through Disclosure on Social Media.” <em>Socius</em> 7: 1–18. <a href="https://doi.org/10.1177/23780231211029499">doi: 10.1177/23780231211029499</a></p>
          <p>Salganik, Matthew J., Ian Lundberg, Alexander T. Kindel, [and 109 others, including <strong>Connor Gilroy</strong>]. 2020. “Measuring the Predictability of Life Outcomes with a Scientific Mass Collaboration.” <em>Proceedings of the National Academy of Sciences</em> 117(15):8398–8403. <a href="https://doi.org/10.1073/pnas.1915006117">doi: 10.1073/pnas.1915006117</a></p>
          <p>Filippova, Anna, <strong>Connor Gilroy</strong>, Ridhi Kashyap, Antje Kirchner, Allison C. Morgan, Kivan Polimis, Adaner Usmani, and Tong Wang. 2019. “Humans in the Loop: Incorporating Expert and Crowdsourced Knowledge for Predictions using Social Survey Data.” <em>Socius</em> 5: 1–15. <a href="https://doi.org/10.1177/2378023118820157">doi: 10.1177/2378023118820157</a>.</p>
          <p> </p>
        </div>
      </div>
      <div class="column is-two-thirds">
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

<!--
<section class="section">
  <div class="container">
    {{ $paginator := .Paginate (where .Pages "Params.hidden" "ne" true) }}
    {{ range sort .Paginator.Pages }}
    <article>
      <div class="subtitle tags is-6 is-pulled-right">
        {{ if .Params.tags }}
        {{ partial "tags" .Params.tags }}
        {{ end }}
      </div>
      <h2 class="subtitle is-6">{{ .Date.Format "January 2, 2006" }}</h2>
      <h1 class="title"><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h1>
      <div class="content">
        {{ .Summary | plainify | safeHTML }}
        {{ if .Truncated }}
        <a class="button is-link" href="{{ .Permalink }}" style="height:28px">
          Read more
          <span class="icon is-small">
            <i class="fa fa-angle-double-right"></i>
          </span>
        </a>
        {{ end }}
      </div>
    </article>
    {{ end }}
  </div>
</section>
{{ partial "pager" . }}
-->
{{ partial "footer" . }}
